version: '3.8'
services:
  # 服务名称
  mongo:
    # 镜像：使用官方 MongoDB 6.0 镜像 Docker 会去下载 MongoDB 6.0 版本的 Linux 运行环境
    image: mongo:6.0
    
    # 容器名称：带上项目前缀，避免与其他项目冲突 给运行起来的进程起个名，方便查找
    container_name: nest-journey-mongo
    
    # 自动重启：如果你重启电脑或 Docker，数据库会自动重新启动
    restart: always
    
    # 环境变量：设置初始的 root 用户账号密码
    # ⚠️ 必须与 .env 文件中的 DB_USER / DB_PASS 保持一致
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: 123456
    
    # 端口映射
    # 格式："宿主机端口:容器内部端口"
    # 作用：将你电脑的 27017 端口流量，通过网桥转发给容器内的 27017 端口
    ports:
      - "27017:27017"
    
    # 数据挂载 
    # 格式："宿主机路径:容器内部路径"
    # 作用：将容器里存数据的 /data/db 目录，直接映射到你当前项目下的 ./mongo-data 文件夹
    # 结果：你的数据实际上是存在你眼前的项目文件夹里的，而不是藏在 Docker 里的
    volumes:
      - ./mongo-data:/data/db
